# dependencies
node_modules/

# build outputs
dist/
.astro/
.wrangler/

# turbo
.turbo/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# env files
.env
.env*.local
.env*
.dev.vars

# cache
.swc/

# local
local/
*.ignore.*
